// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// importing
// color palette
@import './variables/color';
// grid
@import './variables/grid';
// typo
@import './variables/typo';



/// Container's maximum width
/// @type Length
// $max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// @import './variables/grid';


/// Background color
/// @type Color
$BACKGROUND_COLOR: #ffffff !default;
$DISABLED_COLOR: map-get($grey, '300') !default;
@media (prefers-color-scheme: dark) {
  //
}

/// Forground color
/// @type Color
$PRIMARY_COLOR: #1e1e1e !default;
$SECONDARY_COLOR-0: #FF204B !default;
$SECONDARY_COLOR-1: #1e88e5 !default;
$SECONDARY_COLOR-2: #fb6089 !default;
$SUCCESS_COLOR: #2EC88E !default;
$DANGER_COLOR: $SECONDARY_COLOR-0 !default; // error, alert
$WARNING_COLOR: map-get($amber, '700') !default;
@media (prefers-color-scheme: dark) {
  //
}

/// Copy text color
/// @type Color
$TEXT_COLOR: $PRIMARY_COLOR !default;
$TEXT_COLOR-SUB: map-get($grey, '500') !default;
$TEXT_COLOR-REVERSE: #fff !default;
$LINK_COLOR: $TEXT_COLOR !default;
@media (prefers-color-scheme: dark) {
  //
}


/// Regular font family
/// @type List
$TEXT_FONT_STACK: (
  'en': ('-apple-system', 'BlinkMacSystemFont', 'Noto Sans KR', 'San Francisco', 'Malgun Gothic', '맑은고딕', '돋움', 'Dotum', 'Helvetica', 'Apple SD Gothic Neo', Sans-serif),
  'ko': ('Noto Sans KR', 'Spoqa Han Sans', Sans-serif)
);
// 이미지 url
$imgUrl: '/static/images';
// 폰트 ulr
$fontUrl: '/static/font'

