/* reset style */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  // -webkit-tap-highlight-color:#2A74C8;
}
input:focus, span:focus {outline: none;}
ul, li, dl, dt, dd {margin: 0px; padding: 0px; list-style: none}
body {margin: 0px; padding: 0px; font-size: 13px; word-break: keep-all}
textarea {font-size: 13px; }
img{border: none;}
a:link {text-decoration: none}
form {padding: 0px; margin: 0px}
button{
  &:focus, 
  &:active{
    outline-style: solid;
  }
}
[type=button], [type=submit], [type=text], [type=tel], [type=password], [type=email], textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    font-size: 1em;
}

input[type=checkbox]+ label:before {
    content: "\2713";
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight:800;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 3px;
    background-color: #efefef;
    color:#d7d7d7;
    border-radius: 2px;
    text-align: center;
    line-height: 22px;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=checkbox]:checked + label:before {
    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    background:#121212;
}


input[type=radio] {
    display: none;
}

input[type=radio] + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio] + label:before {
    content: "·";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #efefef;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 20px;
    font-size: 40px;
    font-weight:800;
    text-align: center;
    line-height: 24px;
    color:#d7d7d7;
}
input[type=radio]:checked + label:before {
    content: "·";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    background:#121212;
}


/* html5 style */
time {display:inline;}
address {display:block;}