@charset "UTF-8";
/* checkbox common style */
.lb-chk {
  * {
    font-family: map-get($TEXT_FONT_STACK-latest, 'ko');
  }
  label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    span {
      display: inline-block;
      font-size: 13px;
      color: #202429;
      line-height: 18px;
      vertical-align: top;
      .essential {
        display: inline-block;
        font-weight: normal;
        color: #ff2c2c;
      }
    }
    input[type="checkbox"] {
      overflow: hidden;
      display: inline-block;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      + span {
        padding-left: 26px;
        background: url('#{$imgUrl}/ic-btn-checkbox-22.svg') 0 0 no-repeat;
        background-size: 18px 18px;
      }
      &:checked {
        + span {
          background-image: url('#{$imgUrl}/ic-btn-checkbox-22-s.svg')
        }
      }
    }
  }
}

/* input common style */
.input-wrap {
  * {
    font-family: map-get($TEXT_FONT_STACK-latest, 'ko');
  }
  input {
    &[type="text"],
    &[type="tel"],
    &[type="email"],
    &[type="password"] {
      width: 100%;
      height: 44px;
      padding: 0 16px;
      font-size: 16px;
      color: #202429;
      line-height: 1.4em;
      border: 1px solid #d3d7df;
      border-radius: 8px;
      appearance: none;
      &::placeholder {
        color: #d3d7df;
        opacity: 1;
      }
      &::-webkit-input-placeholder {
        color: #d3d7df;
      }
      &:-ms-input-placeholder {
        color: #d3d7df;
      }
      &[readonly] {
        color: #acb3bd;
        background-color: #fff;
      }
      &[disabled] {
        color: #acb3bd;
        background-color: #f2f4f7;
      }
    }
  }
}

/* flex input style */
.flex-form {
  display: flex;
  flex-wrap: nowrap;
  * {
    font-family: map-get($TEXT_FONT_STACK-latest, 'ko');
  }
  + .flex-form {
    margin-top: 8px;
  }
  .flex-input-area {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    > .input-wrap {
      flex: 1 1 30%;
      position: relative;
      &:nth-of-type(n+2) {
        margin-left: 6px;
      }
      .countdown {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        font-size: 13px;
        color: #ff2c2c;
        text-align: right;
      }
    }
    &.align-c {
      > .input-wrap {
        input {
          &[type="text"],
          &[type="tel"],
          &[type="email"],
          &[type="password"] {
            text-align: center;
          }
        }
      }
    }
  }
  .flex-btn-area {
    flex: 0 0 74px;
    margin-left: 8px;
    .btn {
      width: 100%;
      height: 44px;
      padding: 0;
      font-size: 13px;
      color: #000;
      line-height: 42px;
      border: 1px solid #202429;
      border-radius: 8px;
      background-color: #fff;
      appearance: none;
      cursor: pointer;
      &:disabled {
        color: #acb3bd;
        border-color: #acb3bd;
        cursor: default;
      }
    }
  }
}
.form-notice {
  margin: 6px 0 0 0;
  font-size: 11px;
  color: #808893;
  line-height: 16px;
}

@media screen and (min-width: $screen-md-min) {
  /* checkbox common style */
  .lb-chk {
    label {
      span {
        font-size: 16px;
        line-height: 22px;
      }
      input[type="checkbox"] {
        + span {
          padding-left: 32px;
          background-size: 22px 22px;
        }
      }
    }
  }
  /* input common style */
  .input-wrap {
    input {
      &[type="text"],
      &[type="tel"],
      &[type="email"],
      &[type="password"] {
        height: 50px;
      }
    }
  }

  /* flex input style */
  .flex-form {
    .flex-input-area {
      > .input-wrap {
        &:nth-of-type(n+2) {
          margin-left: 8px;
        }
        .countdown {
          font-size: 16px;
        }
      }
    }
    .flex-btn-area {
      flex: 0 0 108px;
      margin-left: 10px;
      .btn {
        height: 50px;
        font-size: 15px;
      }
    }
  }
  .form-notice {
    margin-top: 10px;
    font-size: 13px;
  }
}
