@charset "UTF-8";

.Mod_link-prod{
  display:block;

  > a,
  > div{
    display:block;
    color:$TEXT_COLOR;
  }
  .thumb{
    display:block;
    position:relative;
    padding-top:100%;
    border-radius:8px;
    background-repeat:no-repeat;
    background-position:50%;
    background-size:cover;
    overflow:hidden;

    .link{
      display:block;
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      opacity:0;
    }
    .idx{
      position:absolute;
      left:0;
      top:0;
      width:30px;
      height:30px;
      border-radius:8px 0 8px 0;
      background-color:#000;
      color:$TEXT_COLOR-REVERSE;
      font-size:11px;
      line-height:29px;
      text-align:center;
    }
    .soldout{
      display:block;
      position:absolute;
      left:0;
      top:0;
      z-index:1;
      width:100%;
      height:100%;
      margin:0;
      background:rgba(0,0,0,0.5);
      color:$TEXT_COLOR-REVERSE;
      font-size:16px;
      font-weight:bold;
      text-align:center;
      &:before{
        content:'';
        display:inline-block;
        width:0;
        height:100%;
        vertical-align:middle;
      }
    }
    .btn-favor{
      position:absolute;
      right:5px;
      bottom:5px;
      z-index:2;
      width:24px;
      height:21.6px;
      margin:0;
      background:transparent url('#{$imgUrl}/ic-web-favorit-heart-n.svg') no-repeat 50%;
      background-size:100% 100%;
      border:0;
      overflow:hidden;
      text-indent:-999px;
      cursor:pointer;
      &.active{
        background-image:url('#{$imgUrl}/ic-web-favorit-heart-s.svg');
      }
    }
  }
  .wrap-info{
    @include clearfix();
    margin-top:6px;
    padding:0 3px;
  }
  .info-delivery{
    @include clearfix();
  }
  .seller{
    @include ellipsis();
    color:$TEXT_COLOR;
    font-size:12px;
    font-style:normal;
  }
  .Icon_haru{
    float:right;
    width:62px;
    height:12px;
    margin-top:3px;
  }
  .prod-name{
    @include ellipsis();
    display:block;
    clear:both;
    color:#4a4a4a;
    font-size:13px;
    font-style:normal;
  }
  .info-price{
    @include ellipsis();
    letter-spacing:0.3px;

    .dc,
    .selling-price,
    .sales{
      margin-right:2px;
    }
    .dc{
      color:$SECONDARY_COLOR-0;
      font-size:15px;
      font-weight:bold;
    }
    .selling-price{
      font-size:15px;
      font-weight:bold;
      font-style:normal;
    }
    .price{
      color:#757575;
      font-size:13px;
    }
  }
  .sales{
    margin:3px 0 0;
    color:#757575;
    font-size:12px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .Mod_link-prod{
    .thumb{
      border-radius:0;
      .idx{
        border-radius:0;
      }
      .soldout{
        font-size:26px;
        font-weight:500;
      }
      .btn-favor{
        right:7px;
        bottom:7px;
        width:34px;
        height:30.6px;
      }
    }
    .wrap-info{
      padding:0;
    }
    .seller{
      font-size:15px;
    }
    .Icon_haru{
      height:18px;
      margin-top:2px;
    }
    .prod-name{
      color:$TEXT_COLOR;
      font-size:16px;
    }
    .info-price{
      .dc{
        font-size:20px;
      }
      .selling-price{
        font-size:20px;
      }
      .price{
        font-size:15px;
      }
    }
    .sales{
      margin-top:10px;
    }
  }
}