//== 
//
//## 

$font-h-one:                30px;
$font-h-two:                24px;
$font-h-three:              20px;
$font-h-four:               16px;
$font-h-five:               14px;
$font-h-six:                12px;
$font-h-seven:              11px;


$h1: 1px;
$h2: 1px;
$h3: 1px;
$h4: 1px;
$h5: 1px;
$h6: 1px;
$subtitle1: 1px;
$subtitle2: 1px;
$body1: 1px;
$body2: 1px;
$cation: 1px;


/*
font: italic smll-caps bold 12px/30px Georgia, serif
font-style
font-variant
font-weight
font-size/line-height

font-family: $
*/