@charset "UTF-8";

.Page_error{
  @mixin style() {
    padding:58px 16px;
    text-align:center;
  
    * {
      font-family: map-get($TEXT_FONT_STACK, 'ko');
      font-weight: 400;
      letter-spacing: 0;
    }
    &:before{
      content:'';
      display:block;
      margin:0 auto 12px;
      background-repeat:no-repeat;
      background-position:50%;
      background-size:100% 100%;
    }

    .tit-apology{
      margin:0 0 8px;
      color:$TEXT_COLOR;
      font-size:18px;
      font-weight:700;
    }
    .txt-information{
      margin:0;
      color:$TEXT_COLOR;
      font-size:14px;
      line-height:1.64em;
  
      a{
        color:$TEXT_COLOR;
      }
    }
    .link-home{
      display:block;
      max-width:280px;
      margin:28px auto 0;
      padding:14px;
      border-radius:8px;
      background-color:$PRIMARY_COLOR;
      color:$TEXT_COLOR-REVERSE;
      font-size:14px;
      text-align:center;
    }
    .artc-address{
      display:flex;
      max-width:280px;
      margin:28px auto 0;
      padding:8px;
      border-radius:16px;
      background-color:#f4f4f4;
      justify-content:center;
      color:$TEXT_COLOR;
      font-size:12px;
      font-style:normal;
      text-align:center;

      a{
        color:$TEXT_COLOR;
      }
      .part{
        flex-wrap:wrap;
        flex-grow:0;
        flex-shrink:0;
        &:nth-child(n+2){
          &:before{
            content:'ㅣ ';
          }
        }
      }
      .tit{
        display:inline;
        position:relative;
        margin:0;
        font-size:12px;
      }
    }
  }

  &-server{
    @include style();
    &:before{
      width:226px;
      height:147px;
      margin-bottom:25px;
      background-image:url('#{$imgUrl}/error-5xx.svg');
    }
  }
  &-404,
  &-unexpected{
    @include style();
    &:before{
      width:209px;
      height:159px;
      background-image:url('#{$imgUrl}/error-404.svg');
    }
  }
}

@media screen and (min-width:$screen-md-min) {
  .Page_error{
    @mixin style() {
      display:flex;
      padding:169px 20px;
      justify-content:center;
      // align-content:center;
      align-items: center;
      text-align:left;
      &:before{
        content:'';
        margin:0 40px 0 0;
        background-size:contain;
      }

      .tit-apology{
        margin:0 0 20px;
        font-size:32px;
      }
      .txt-information{
        margin:0;
        font-size:18px;
      }
      .link-home{
        display:block;
        max-width:280px;
        margin:34px 0 0;
        font-size:16px;
      }
      .artc-address{
        max-width:415px;
        margin:34px 0 0;
        padding:10px;
        border-radius:20px;
        font-size:16px;

        .tit{
          font-size:16px;
        }
      }
    }

    &-server{
      @include style();
      &:before{
        width:424px;
        height:274px;
      }
    }
    &-404,
    &-unexpected{
      @include style();
      &:before{
        width:401px;
        height:304px;
      }
    }
  }
}