@import "../styles/mixin";

.banner {
  position: relative;
  display: flex;
  height: calc(100vh - 64px);
  padding: 100px 100px 100px 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: calc(100px + ((70vh - 200px)) / 2);
    width: 10px;
    height: 50%;
    background-color: $yellow;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(100px + 3vw);
    right: 0;
    width: calc(100px + ((70vh - 200px)) / 2);
    height: 10px;
    background-color: $yellow;
    z-index: -1;
  }
}

.bannerText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100vw - (70vh - 200px));
  max-height: calc(100% - 600px);
  margin-top: 300px;
  background-color: $yellow;

  span {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
}

.belt {
  position: relative;
  width: 100%;
  margin: 40px 0;
  background-color: $white;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: $yellow;
    animation-duration: 2s;
    animation-name: belt;
  }

  h1 {
    margin: 0;
    @include font($size: 2.813rem, $weight: bold, $color: $brown);
    text-align: center;
    transition: color 1s;
  }
}

@keyframes belt {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.meImage {
  margin-left: auto;
  position: relative;
  width: calc(70vh - 200px);
  height: 100%;
}

.desc {
  @include font($size: 1.25rem);

  ul {
    margin: 15px 0 0;
  }
  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "-";
      position: absolute;
      top: 0;
      left: 5px;
    }
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 80px;

  h2 {
    margin: 0 0 0 20px;
    @include font($size: 2rem, $weight: bold);
  }
  h3 {
    margin: 0;
    @include font($size: 1.5rem, $weight: bold);
  }
}

.section {
  padding: 80px 0 120px;
}

.colorSection {
  background: $yellow;
}

.career {
  border-top: 10px solid $yellow;

  ul {
    margin-top: 40px;
  }
  li {
    display: flex;
  }
}

.careerDate {
  min-width: 30%;
  margin-right: 40px;
  padding-right: 20px;
  background-color: $orange;
  @include font($size: 1.5rem, $weight: bold, $lineHeight: 3, $letterSpacing:-2px, $color: $white);
  text-align: right;
}

.careerDesc {
  max-width: calc(70% - 40px);
  padding: 10px 0;

  p {
    @include font($lineHeight: 3);
  }
}

.cardList {
  display: flex;
  margin: 20px -10px 0;
}

.cardTitle {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 3px;
  @include font($size: 1rem, $weight: bold, $color: $white);
}

.todo {
  background: $orange;
}

.doing {
  background: $brown;
}

.done {
  background: $dark-gray;
}

.card {
  width: calc(100% / 3);
  max-width: 480px;
  padding: 0 10px;

  & > div {
    height: 100%;
    padding: 15px 15px 30px;
    background: $white;
    box-shadow: 2px 3px 8px $light-gray;
  }

  ul {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $light-gray;
  }
  li {
    position: relative;
    padding-left: 20px;
    @include font($size: 0.875rem);

    &::before {
      content: "-";
      position: absolute;
      top: 0;
      left: 5px;
    }
  }
}

.olList {
  padding-inline-start: 20px;

  li {
    &::marker {
      font-weight: bold;
    }
    & + li {
      margin-top: 20px;
    }
  }

  p {
    @include font($size: 0.875rem);

    &:first-child {
      margin-bottom: 5px;
      @include font($size: 1rem, $weight: bold);
    }
  }
}
