@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-black-soft);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--vt-c-text-light-2);
  }
}

@include mobile {
  #app {
    padding: 2rem 0;
  }
}

@include darkmode {
  /* 다크 모드일 때 파비콘 배경 설정 */
  link[rel='icon'],
  link[rel='apple-touch-icon'] {
    filter: invert(1);
  }
}
