// pc: ~ 1025px
// tablet: 1024px ~ 768px
// mobile: 767px ~ 320px

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 767px;

@mixin tablet {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

$yellow: #fff412;
$brown: #6b4423;
$black: #202020;

@mixin font(
  $size: 1rem,
  $weight: normal,
  $lineHeight: 1.6,
  $letterSpacing: 0.25px,
  $color: $black
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;
}
